<!DOCTYPE html>
<html lang="es">
<head>
    <title>Gestionar Usuarios</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/admin.css'/> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <%- include("../header") %>

    <!-- Lista de Tipos de Instalaciones --> 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cnt-cuadro">
                    <div class="cnt-admin"><h2>Gestionar Tipos de Instalaciones</h2></div>
                    
                    <!-- Lista de tipos de instalacion -->
                    <table class="table">
                        <thead>
                            <tr>
                                 <!-- <th>Imagen</th> -->
                                <th>Nombre</th>
                                <th>Descipción</th>
                                <th>Hora de Apertura</th>
                                <th>Hora de Cierre</th>
                                <th>Aforo</th>
                                <th>Colectivo</th>
                            </tr>
                        </thead>
                        <tbody id="tipo-instalacion-list">
                            <p></p>
                        </tbody>                       
                    </table>

                    <!-- Botones para Tipos de Instalaciones -->
                    <tr>
                        <td colspan="3">
                            <button class="btn btn-primary" onclick="abrirModalCrearTipoInstalacion()">Crear Tipo de Instalación</button>
                        </td>
                    </tr>
                        <td colspan="3">           
                            <button class="btn btn-danger" onclick="eliminarTipoInstalacion()">Eliminar Tipo de Instalación</button>
                        </td>
                    </tr>
                    </tr>
                        <td colspan="3">            
                        <button class="btn btn-primary" onclick="abrirModalEditarTipoInstalacion()">Editar Tipo de Instalación</button>
                        </td>
                    

                    <!-- Ventana modal crear tipo de instalación -->
                    <div id="crear-tipo-instalacion-modal" class="modal" style="display: none;">
                        <!-- Contenido de la ventana modal para crear tipo de instalación -->
                    </div>

                    <!-- Ventana modal editar tipo de instalación -->
                    <div id="editar-tipo-instalacion-modal" class="modal" style="display: none;">
                        <!-- Contenido de la ventana modal para editar tipo de instalación -->
                    </div>

                    <!-- Lista de Instalaciones -->
                    <div class="cnt-admin"><h2>Gestionar Instalaciones</h2></div>

                    <table class="lista-instalaciones" id="lista-instalaciones">
                        <thead>
                            <tr>
                                <th>Seleccionar</th>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Facultad</th>                                 
                            </tr>
                        </thead>
                        <tbody id="instalaciones-list">
                            <p></p>
                        </tbody>
                    </table>
           
    <tr>
        <td colspan="3">
            <button class="btn btn-primary" onclick="botonCrearInstalacion()">Crear Instalación</button>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <button class="btn btn-danger" onclick="botonEliminarInstalacion()">Eliminar Instalación</button>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <button class="btn btn-primary" onclick="abrirModalEditarInstalacion()">Editar Instalación</button>
        </td>
    </tr>

    <!-- Ventana modal crear isntalación -->
    <div id="crear-instalacion-modal" class="modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crear Instalación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form >
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="tipo" class="form-label">Tipo</label>
                            <select class="form-control" id="tipo" name="tipo" required>
                                <option value="" disabled selected>Selecciona un tipo de Instalacion</option>          
                                <option value=" "></option>
                                
                            </select>
                        </div>
                        <div class="mb-3" id="facultadCampo">
                            <label for="facultades">Facultad:</label>
                            <select class="form-control" id="facultad" name="facultad" required>
                                <option value="" disabled selected>Selecciona una facultad</option>
                                <option value="Informática">Informática</option>
                                <option value="Biología">Biología</option>
                                <option value="Información">Información</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" onclick="crearInstalacion()">Crear</button>
                    </form>


               
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana modal para eliminar instalación -->
    <div id="eliminar-instalacion-modal" class="modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Instalación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="eliminar-instalacion-form">
                        <div class="mb-3">
                            <label>Selecciona las instalaciones a eliminar:</label>
                            <div id="instalaciones-checkbox-list">
                                <!-- Agrega checkboxes dinámicamente aquí usando JavaScript -->
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger"
                            onclick="eliminarInstalaciones()">Eliminar Seleccionadas</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
       
    <!-- Ventana modal para editar instalación -->
    <div class="modal fade" id="editarInstalacionModal" tabindex="-1" aria-labelledby="editarInstalacionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarInstalacionModalLabel">Editar Instalación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario de edición -->
                    <form id="formularioEditarInstalacion">
                        <div class="mb-3">
                            <label for="nombreEditar" class="form-label">Nuevo Nombre</label>
                            <input type="text" class="form-control" id="nombreEditar" name="nombreEditar" required>
                        </div>
                        <div class="mb-3">
                            <label for="tipoEditar" class="form-label">Nuevo Tipo</label>
                            <select class="form-control" id="tipoEditar" name="tipoEditar" required>
                                <!-- Opciones de tipos de instalación, puedes cargarlas dinámicamente si es necesario -->
                                <option value="tipo1">Tipo 1</option>
                                <option value="tipo2">Tipo 2</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="facultadEditar" class="form-label">Nueva Facultad</label>
                            <select class="form-control" id="facultadEditar" name="facultadEditar" required>
                                <!-- Opciones de facultades, puedes cargarlas dinámicamente si es necesario -->
                                <option value="Informática">Informática</option>
                                <option value="Biología">Biología</option>
                                <option value="Información">Información</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="editarInstalacion()">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de confirmar eliminar Instalaciones -->
    <div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="confirmarEliminarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmarEliminarModalLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de querer borrar estas instalaciones?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" onclick="eliminarInstalaciones()">Sí</button>
                </div>
            </div>
        </div>
    </div>

    <%- include("../footer") %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


    <script>
        //Lista de tipos de instalaciones
        $(document).ready(function() {
            $.ajax({
                url: '/admin/obtener_tipos_instalacion',
                type: 'GET',
                success: function(data) {
                    $('#tipo').empty();
                    data.forEach(function(tipos_inst) {

                        $('#tipo').append(`<option value="${tipos_inst.tipo}">${tipos_inst.tipo}</option>`);

                        var row = '<tr>' +
                            '<td>' + tipos_inst.tipo + '</td>' +
                            '<td>' + tipos_inst.descripcion + '</td>' +
                            '<td>' + tipos_inst.hora_de_apertura + '</td>' +
                            '<td>' + tipos_inst.hora_de_cierre + '</td>' +
                            '<td>' + tipos_inst.aforo + '</td>' +
                            '<td>' + (tipos_inst.colectivo ? 'Si' : 'No') + '</td>' +
                            '</tr>';
                        $('#tipo-instalacion-list').append(row);
                    });
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

        //Lista de instalaciones
        $(document).ready(function() {
            $.ajax({
            url: '/admin/obtener_instalaciones',
            type: 'GET',
            success: function(data) {
                data.forEach(function(instalacion) {
                    var row = '<tr>' +
                        '<td><input type="checkbox" class="form-check-input" name="instalacionEliminarCheckbox" value="'  + instalacion.id + '" ></td>' +
                        '<td>' + instalacion.nombre + '</td>' +
                        '<td>' + instalacion.tipo + '</td>' +
                        '<td>' + instalacion.facultad + '</td>' +
                        '</tr>';
                    $('#instalaciones-list').append(row);
                });
            },
            error: function(error) {
                console.log(error);
            }
        });

            // Evento click para las filas de la lista principal de instalaciones
            $('#lista-instalaciones tbody').on('click', 'tr', function() {
            // Obtén la casilla de verificación dentro de la fila clicada
            var checkbox = $(this).find('input[type="checkbox"]');
            
            // Cambia el estado de la casilla de verificación
            checkbox.prop('checked', !checkbox.prop('checked'));

            // Agrega la clase 'checkbox-active' a las filas con checkbox activo
            $('#lista-instalaciones tbody tr').each(function() {
                var checkbox = $(this).find('input[type="checkbox"]');
                if (checkbox.prop('checked')) {
                    $(this).addClass('checkbox-active');
                } else {
                    $(this).removeClass('checkbox-active');
                }
            });
        });

        $('#lista-instalaciones tbody').on('click', 'input[type="checkbox"]', function(e) {
            e.stopPropagation();
            // Obtén la fila correspondiente a la casilla de verificación
            var row = $(this).closest('tr');
            // Cambia la clase 'selected-row' y 'checkbox-active' según el estado de la casilla de verificación
            row.toggleClass('checkbox-active', this.checked);
        });
        });
    
//CREAR INSTALACIONES      
        //Botón de crear instalación
        function botonCrearInstalacion() {
            $('#crear-instalacion-modal').modal('show');
        }
        
        //Botón de crear instalación
        function crearInstalacion() {  
            console.log('Crear instalación');
            console.log($('#nombre').val());
            console.log($('#tipo').val());
            console.log($('#facultad').val());
            $.ajax({
                url: '/admin/crear_instalacion',
                type: 'POST',
                data: {
                    nombre: $('#nombre').val(),
                    tipo: $('#tipo').val(),
                    facultad: $('#facultad').val()
                },
                
                success: function(response) {
                    alert("Instalación creada")
                    console.log('Instalación creada');
                    location.reload();
                },
                error: function(error) {
                    alert("Error al crear la instalación")
                    console.log(error);
                }
            });
        }
  
//ELIMINAR INSTALACIONES       
        //Botón de eliminar instalación
        function botonEliminarInstalacion() {
            confirmarEliminarInstalaciones();
        }

        //Boton para confirmar si eliminar instalaciones
        function confirmarEliminarInstalaciones() {
        var instalacionesSeleccionadas = $('input[name="instalacionEliminarCheckbox"]:checked');
        if (instalacionesSeleccionadas.length > 0) {
            // Muestra el modal de confirmación
            $('#confirmarEliminarModal').modal('show');
        } else {
            alert("Seleccione al menos una instalación para eliminar.");
            }
        }

        // Función para eliminar instalaciones
        function eliminarInstalaciones() {
            var instalacionesSeleccionadas = [];
            $('input[name="instalacionCheckbox"]:checked').each(function() {
                instalacionesSeleccionadas.push($(this).val());
            });

            // Realiza la llamada AJAX para eliminar las instalaciones seleccionadas
            $.ajax({
                url: '/admin/eliminar_instalaciones',
                type: 'POST',
                data: { instalaciones: instalacionesSeleccionadas },
                success: function(response) {
                    alert("Instalaciones eliminadas");
                    console.log('Instalaciones eliminadas');
                    location.reload();
                },
                error: function(error) {
                    alert("Error al eliminar las instalaciones");
                    console.log(error);
                }});

        }
    
//EDITAR INSTALACIONES
        // Función para abrir la ventana modal de editar instalación
        function abrirModalEditarInstalacion() {
            $('#editarInstalacionModal').modal('show');
        }

        // Función para editar instalación (realiza la llamada POST)
        function editarInstalacion() {
            // Obtén los valores del formulario de edición
            var nuevoNombre = $('#nombreEditar').val();
            var nuevoTipo = $('#tipoEditar').val();
            var nuevaFacultad = $('#facultadEditar').val();

            // Realiza la llamada AJAX para editar la instalación seleccionada
            $.ajax({
                url: '/admin/editar_instalacion',
                type: 'POST',
                data: {
                    nombre: nuevoNombre,
                    tipo: nuevoTipo,
                    facultad: nuevaFacultad
                    // También puedes incluir otros parámetros según sea necesario
                },
                success: function(response) {
                    alert("Instalación editada correctamente");
                    console.log('Instalación editada');
                    // Puedes realizar acciones adicionales después de la edición, como recargar la página
                    location.reload();
                },
                error: function(error) {
                    alert("Error al editar la instalación");
                    console.log(error);
                }
            });

            // Cierra la ventana modal después de la acción
            $('#editarInstalacionModal').modal('hide');
        }

//TIPO INSTALACIONES
        // Función para abrir la ventana modal de crear tipo de instalación
        function abrirModalCrearTipoInstalacion() {
            $('#crear-tipo-instalacion-modal').modal('show');
        }

        // Función para abrir la ventana modal de editar tipo de instalación
        function abrirModalEditarTipoInstalacion() {
           $('#editar-tipo-instalacion-modal').modal('show');
        }

        // Función para eliminar tipo de instalación
        function eliminarTipoInstalacion() {
            // Lógica para eliminar tipo de instalación
        }

    </script>

</body>
</html>
