<header id="inicio">
    <div class="header-content">
    <div class="logo">
        <h1>UCM <r>RIU</r></h1>
    </div>
    <div>
        <nav class="container navbar navbar_default">
            <div class="nav-desplegable">
                <!--Icono de menu hamburguesa-->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>   
            <!--Barra de navegacion desplegable-->
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav " id="collapse-navi">
                    <li class="nav-item"><a href="/#inicio">Inicio</a></li>
                    <li class="nav-item"><a href="/#instalaciones">Instalaciones</a></li>
                    <li class="nav-item"><a href="/#mensajes">Mensajes</a></li>
                    <li class="nav-item" id="user-menu"><a class="nav-link" href="/login">Login</a></li>
                </ul>
            </div>
            <!--Barra de navegacion normal-->
                <ul class="navi">
                    <li><a href="/#inicio">Inicio</a></li>
                    <li><a href="/#instalaciones">Instalaciones</a></li>
                    <li><a href="/#mensajes">Mensajes</a></li>
                    <li id="user-menu"><a class="nav-link" href="/login">Login</a></li>
                </ul>
                <div id="ctn-icon-search">
                    <i class="bi bi-search" id="icon-search"></i>
                </div>
            </nav>
        </div>
    </div>
</header>

<div id="ctn-bars-search">
    <input type="text" id="inputSearch" placeholder="Buscar...">
</div>
<ul id="box-search">
    <li><a href="/reserva/Laboratorios"><i class="bi bi-search"></i>Laboratorios</a></li>
    <li><a href="/reserva/Salas de grados"><i class="bi bi-search"></i>Salas de grados</a></li>
    <li><a href="/reserva/Sal贸n de actos"><i class="bi bi-search"></i>Sal贸n de actos</a></li>
    <li><a href="/reserva/Salas de reuni贸n"><i class="bi bi-search"></i>Salas de reuni贸n</a></li>
</ul>
<div id="cover-ctn-search"></div>

<script>
    //Ejecutando funciones
   document.getElementById("icon-search").addEventListener("click", mostrar_buscador);
   document.getElementById("cover-ctn-search").addEventListener("click", ocultar_buscador);

   //Declarando variables
   bars_search = document.getElementById("ctn-bars-search");
   cover_ctn_search = document.getElementById("cover-ctn-search");
   inputSearch = document.getElementById("inputSearch");
   box_search = document.getElementById("box-search");


   //Funcion para mostrar el buscador
   function mostrar_buscador(){
       bars_search.style.top = "60px";
       cover_ctn_search.style.display = "block";
       inputSearch.focus();

       if (inputSearch.value === ""){
           box_search.style.display = "none";
       }
   }

   //Funcion para ocultar el buscador
   function ocultar_buscador(){
       bars_search.style.top = "-10px";
       cover_ctn_search.style.display = "none";
       inputSearch.value = "";
       box_search.style.display = "none";
   }
   //Creando filtrado de busqueda

   document.getElementById("inputSearch").addEventListener("keyup", buscador_interno);

   function buscador_interno(){
       filter = inputSearch.value.toUpperCase();
       li = box_search.getElementsByTagName("li");

       //Recorriendo elementos a filtrar mediante los "li"
       for (i = 0; i < li.length; i++){
           a = li[i].getElementsByTagName("a")[0];
           textValue = a.textContent || a.innerText;

           if(textValue.toUpperCase().indexOf(filter) > -1){
               li[i].style.display = "";
               box_search.style.display = "block";

               if (inputSearch.value === ""){
                   box_search.style.display = "none";
               }
           }else{
               li[i].style.display = "none";
           }
       }
   }
</script>