#ctn-stats{
    width: 100%;
    height: 100%;
    margin-top:120px;
}
#ctn-inner-stats{
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #ccc; 
    margin-bottom: 20px;
    padding:10px;
}
#mhistorial{
    display: none;
    width: 50%;
    max-height: 70%;
    display:none;
    position:fixed;
    left:50%;
    top:60%;
    transform: translate(-50%, -50%);
    z-index:3;
    overflow-y: auto;
}


#ctn-nc-cover{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top:80px;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    display: none;
}